{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href='{% static "logo/icon.ico" %}'>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Project Vastra | Added {{ product.name | truncatechars:10 }}</title>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' type='text/css' href='{% static "materialize/css/materialize.min.css" %}'>
    <link rel='stylesheet' type='text/css' href='{% static "base.css" %}'>
    <link rel='stylesheet' type='text/css' href='{% static "customer/catalogstyle.css" %}'>

    <!-- Added CatalogStyle For Recommended Content -->
    <link rel='stylesheet' type='text/css' href='{% static "cart/addToCartStyle.css" %}'>
    <script src='{% static "materialize/js/materialize.min.js" %}'></script>
</head>
<body>
    <!-- Including Navbar -->
    {% include "main/navbar.html" %}

    <!-- MAIN CONTENT BEGIN -->
    <div class='content container valign-wrapper'>
        <div class="content-img center">
            <a href="{% url 'products:detail' product.id %}">
                <img src='/media/{{product.img}}' class='responsive-prod-img' >
                <span class='truncate'>{{product.name}}</span>
            </a>
        </div>
        <div class="added-cart-text">
            <span class='added-cart-text'>Added To Cart</span>
        </div>
        <div class='go-cart-text valign-wrapper center'>
            <a href='{% url "cart:checkout" %}'><button class="btn">Go To Cart</button></a>
        </div>
    </div>
    <!-- MAIN CONTENT END -->

    <!-- RECOMM CONTENT BEGIN -->
    <h3 class='center'>RECOMMENDED FOR YOU</h3>
    <section class='product-list'>
        {% include "main/displayProd.html" %}
    </section>
    <!-- RECOMM CONTENT END -->

    <!-- Including Footer -->
    {% include "main/footer.html" %}
</body>
<script>
    M.AutoInit();
    M.toast({html: 'Product Added To Cart!'})
</script>
</html>