{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href='{% static "logo/icon.ico" %}'>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Project Vastra | Checkout</title>

    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' type='text/css' href='{% static "materialize/css/materialize.min.css" %}'>
    <link rel='stylesheet' type='text/css' href='{% static "base.css" %}'>

    <link rel='stylesheet' type='text/css' href='{% static "cart/checkout.css" %}'>
    <script src='{% static "materialize/js/materialize.min.js" %}'></script>
</head>
<body>

    <!-- Including Navbar -->
    {% include "main/navbar.html" %}

    <!-- MAIN CONTENT BEGIN -->
    <h4 class='center'>SHOPPING CART</h4>
    <ul class="main-cart collection container hoverable">
        {% if items %}
            {% for item in items %}
                <li class="collection-item avatar">
                    <a href="{% url 'products:detail' item.prod.id %}">
                    <img src="/media/{{item.prod.img}}" alt="" class="circle">
                    <div class="title truncate name" style='font-weight: bold'>{{item.prod.name}}</div>
                    <p class="purple-text ">Quantity: {{item.quantity}}</p>
                    {% if item.prod.quantity %}
                        <p class="green-text">In Stock</p>
                    {% else %}
                    <p class="red-text">Not In Stock</p>
                    {% endif %}
                    <p class='hurry-message'>
                        {% if item.prod.quantity <= 5 %}
                            Hurry! Only {{ item.prod.quantity }} left in stock. 
                        {% endif %}
                    </p>
                    <a href="#!" class="secondary-content">
                        <p>Price: &#8377 {{ item.prod.price }}</p>
                    </a>
                    </a>
                </li>
            {% endfor %}
        <li class="collection-item cart-price avatar right-align row">
            <span class="title subtotal col s12">
                <span><b>Cart Subtotal ({{ cartc }} items):</b></span>
                <span class='finalcprice'>Price: &#8377 {{final_price}}</span>
            </span>
            <span class='proceed-btn col s12 right'>
                <a href="{% url 'payments:sorry' %}"><button class="btn" style='margin:10px;'>Proceed To Buy</button></a>
            </span>
        </li>
        {% else %}
        <li class="collection-item cart-price avatar center-align row">
            <h3>Your Shopping Cart is empty.</h3>
            <a href="{% url 'customer:catalog' %}" class="purple btn">
                ADD ITEMS NOW
            </a>
        </li>
        {% endif %}
    </ul>
    <!-- MAIN CONTENT END -->


    <!-- Including Footer -->
    {% include "main/footer.html" %}




</body>
<script>
    M.AutoInit();
</script>
</html>