{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Project Vastra | {{ product.name | truncatechars:10 }}</title>

    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' type='text/css' href='{% static "materialize/css/materialize.min.css" %}'>
    <link rel='stylesheet' type='text/css' href='{% static "base.css" %}'>

    <link rel='stylesheet' type='text/css' href='{% static "products/productDetailStyle.css" %}'>
    <script src='{% static "materialize/js/materialize.min.js" %}'></script>
</head>
<body>
    <!-- NAVBAR BEGIN -->
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper white">
                <a href='/' class='brand-logo black-text center'><img src="{% static '/logo/logo-head.png' %}"></a>
                <div class='bcart'>
                    <a href="#" data-target="mobile-links" class="valign-wrapper left sidenav-trigger show-on-large"><i class="material-icons black-text">menu</i></a>
                    <a href='{% url "cart:checkout" %}'>
                        <span class='cart-text black-text right' href=''>Cart</span>
                        <div class="valign-wrapper cart-num">{{ cartc }}</div>
                        <span href="#" class="cart-logo valign-wrapper right black-text"><i class="material-icons black-text">shopping_cart</i></span>
                    </a>
                </div>
            </div>
        </nav>
    </div>

    <ul class="sidenav right" id='mobile-links'>
        <li><a class='first' href='/'>Home</a></li>
        <li><a href='{% url "customer:about" %}'>About</a></li>
        <li><a href='{% url "seller:profiles" %}'>Our Entrepreneurs</a></li>
        <li><a href='{% url "customer:catalog" %}'>Products Catalog</a></li>
        <li><a href='{% url "customer:collectionDrive" %}'>Register For Collection Drive</a></li>
        <li><a href='{% url "seller:new" %}'>Register As An Entrepreneur</a></li>
        <li><a href='{% url "customer:generalContact" %}'>Contact Us</a></li>
        {% if user.is_authenticated %}
            <li><a href='{% url "accounts:logout" %}'>Logout</a></li>
        {% else %}
            <li><a href='{% url "accounts:signin" %}'>SignIn</a></li>
            <li><a href='{% url "accounts:signup" %}'>SignUp</a></li>
        {% endif %}
    </ul>

    <!-- NAVBAR END -->

    <!-- PRODUCT DETAIL PAGE -->
    <section>
        <div class='content row'>
            <div class='content-img col s12 m8 offset-m2 l6'>
                <img src='/media/{{product.img}}' class='prod-img materialboxed'>
            </div>
            <div class="content-desc col s12 m7 l4">
                <h5>{{ product.name }}</h5>
                <div class='content-price'>
                    <p>Price: &#8377 {{ product.price }}</p>
                    <p class='hurry-message'>
                        {% if product.quantity <= 5 %}
                            Hurry! Only {{ product.quantity }} left in stock. 
                        {% endif %}
                    </p>
                </div>
                <div class="content-cart center hide-on-med-and-up">
                        <p><span style='color:maroon'>&#8377 {{ product.price }}</span> <span style='color:grey;'>+ Delivery Charges</span></p>
                        {% if user.is_authenticated %}
                            <a class="btn yellow black-text" href='{% url "cart:addToCart" product.id %}'>Add To Cart</a>
                            <a href="{% url 'payments:sorry' %}" class="btn yellow accent-4 black-text">Buy Now</a>
                        {% else %}
                            <a class="btn yellow black-text disabled">Add To Cart</a>
                            <button class="btn yellow accent-4 black-text disabled">Buy Now</button>
                            <p>Please <a href="{% url 'accounts:signin' %}">Sign In</a> To Add To Cart/Buy</p>
                        {% endif %}
                        <p class='center deliver-text' style='color:maroon'><div><i class="material-icons">location_on</i></div> Delivery Only To North India</p>
                </div>
                <div>
                    <ul class='collection with-header'>
                        <li class='collection-header'><h6>Entrepreneur Advice:</h6></li>
                        <li class='collection-item'>Care Instructions: Hand Wash Recommended.</li>
                        <li class='collection-item'>Fit Type: Regular Fit</li>
                        <li class='collection-item'>Fitting Type: Regular</li>
                        <li class='collection-item'>Wash Care : Do Not Bleach, Hand Wash</li>
                    </ul>
                </div>
            </div>
            <div class="content-cart center col l2 m5 hide-on-small-only">
                <p><span style='color:maroon'>&#8377 {{ product.price }}</span> <span style='color:grey;'>+ Delivery Charges</span></p>
                    {% if user.is_authenticated %}
                        <a class="btn yellow black-text" href='{% url "cart:addToCart" product.id %}'>Add To Cart</a>
                        <a href="{% url 'payments:sorry' %}" class="btn yellow accent-4 black-text">Buy Now</a>
                        {% else %}
                        <a class="btn yellow black-text disabled">Add To Cart</a>
                        <button class="btn yellow accent-4 black-text disabled">Buy Now</button>
                        <p>Please <a href="{% url 'accounts:signin' %}">Sign In</a> To Add To Cart/Buy</p>
                    {% endif %}
                <p class='center deliver-text' style='color:maroon'><div><i class="material-icons">location_on</i> Delivery Only To North India</div></p>
            </div>
        </div>
    </section>

    <!-- FOOTER BEGIN -->
    <footer class="page-footer" style='background-color: #232D39'>
        <div class="container">
            <div class="row">
            <div class="col s12 center">
                <h5 class="yellow-text darken-4"><b>THE PROJECT VASTRA</b></h5>
            </div>
            <div class="col s6 m4 center">
                <h5 class="white-text">NAVIGATE</h5>
                <ul  class='left-align'>
                    <li><a href='/about/'>About</a></li>
                    <li><a href='{% url "customer:catalog" %}'>Products Catalog</a></li>
                    <li><a href='{% url "seller:new" %}'>Register As An Entrepreneur</a></li>
                    <li><a href='{% url "customer:collectionDrive" %}'>Register For Collection Drive</a></li>
                    <li><a href='{% url "customer:generalContact" %}'>Contact Us</a></li>
                </ul>
            </div>
            <div class="col s6 m4 center-align">
                <h5 class="white-text">WHO ARE WE</h5>
                <ul class='white-text'>
                <li>
                    <a href="#" hidefocus="true" style="outline: none;">Our Team</a>
                </li>
                <li>
                    <a href='{% url "seller:profiles" %}'>Our Entrepreneurs</a>
                </li>
                <li>
                    <a href='#'>For Developers</a>
                </li>
                </ul>
            </div>
            <div class="col s12 m4 center">
                <h5 class="white-text">OTHER LINKS</h5>
                <ul>
                    <li>
                        <a href="http://www.enactusindia.org/index.php" target="_blank" hidefocus="true" style="outline: none;">Enactus India</a>
                    </li>
                    <li>
                        <a href="http://enactus.org/" target="_blank" hidefocus="true" style="outline: none;">Enactus International</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright center">
            <div class="container">
            <h6 class="grey-text darken-1"><b>An Initiative By <a href="http://iitrpr.ac.in/enactus/" class='lime-text darken-6'>Enactus IIT Ropar</a> </b></h6>
                <h6>
                    © 2019 All Rights Reserved.
                </h6>
            </div>
        </div>
    </footer>
    <!-- FOOTER END -->

</body>
<script>
    M.AutoInit();
</script>
</html>