{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href='{% static "logo/icon.ico" %}'>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Project Vastra | Catalog</title>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' type='text/css' href='{% static "materialize/css/materialize.min.css" %}'>
    
    <link rel='stylesheet' type='text/css' href='{% static "base.css" %}'>
    <link rel='stylesheet' type='text/css' href='{% static "customer/catalogstyle.css" %}'>
    <script src='{% static "materialize/js/materialize.min.js" %}'></script>
</head>
<body>
    <!-- Including Navbar -->
    {% include "main/navbar.html" %}

    <h4 class='center'>PRODUCT CATALOG</h4>
    <section class='product-list'>
            {% if not products %}
                <div style="width: fit-content; margin: 100 auto;">
                    <h3 class='blue-text' style=" text-align: center; margin: 10px auto;">SORRY THERE ARE NO PRODUCTS! ☹</h3>
                </div>
            {% else %}
                {% include "main/displayProd.html" %}
            {% endif %}
    </section>
    
    <!-- Including Footer -->
    {% include "main/footer.html" %}
</body>
<script>
    M.AutoInit();    
</script>
</html>